.buttonPosition{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box{
    background-repeat: repeat-x; 
    width: 100vw;
    height: 100vh;
    background: rgb(108,0,203);
    background: linear-gradient(90deg, rgba(108,0,203,1) 0%, rgba(81,57,198,1) 94%);
}

.formBox{
    border-radius: 25px;
    padding: 30px;
    width: 350px;
    height: 500px;
    background-color: white;
    
}

.sendRight{
    float: right;
}

.backButton{
    color: gray;
}