<div class="box">

    <div class="formBox buttonPosition">
        <form #f="ngForm" class="form-group" (ngSubmit)="onSubmit()" autocomplete="off">
            <p>
                <label>{{ user }} &nbsp;</label>
                <input type="text" name="input1" class="form-control"  [(ngModel)]="inputField.userName" required>
            </p>

            <p>
                <label>{{ group }} &nbsp;</label>
                <input type="text" name="input2" class="form-control" [(ngModel)]="inputField.groupName" required>
            </p>

            <p>
                <label>{{ description }} &nbsp;</label>
                <textarea type="text" style="max-height: 200px; overflow: auto; height: 200px;" name="input3" class="form-control" [(ngModel)]="inputField.groupDescription" required></textarea>
            </p>

            <div>
                <a class="backButton" href="" [routerLink]="['/main']">{{ back }}</a>
               <button type="submit" class="btn btn-info sendRight" [disabled]="!f.valid"> {{ send }}</button>
            </div>




        </form>
    </div>
</div>
