
<br>
<h1>Zadej 2 čísla: </h1>
<br>
<div>
    <form #f="ngForm" class="form-group" (ngSubmit)="onSubmit()">
        <p>
            <label>First number: &nbsp;</label>
            <input type="number" name="input1" class="form-control"  [(ngModel)]="inputField.input1" required>
        </p>
        <p>
            <label>Second number: &nbsp;</label>
            <input type="number" name="input2" class="form-control" [(ngModel)]="inputField.input2" required>
        </p>
        <p>
            <button type="submit" class="btn btn-info" [disabled]="!f.valid">Submit</button>
        </p>
    </form>
</div>

<br>


Hodnota součtu z Angularu: <b>{{ soucetFrontend }}</b><br>
Hodnota součtu z Backendu: <b>{{ soucetBackend }}</b>

