
#sticky-footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: #292b2c;
    color: white;
}

#text-footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }